
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="POST" action="/Species/Add">
    <div>
        Species Name:
        <input id="SpeciesName" tye="text" name="SpeciesName" />
    </div>
    <div>
        <input type="submit" value="Add Species" />
    </div>
</form>

