@model List<PetGrooming.Models.Species>
@{
    ViewBag.Title = "List";
}

<h2>List of Species</h2>
<a href="/Species/Add">Add new Species</a>
@{ 
    foreach (var Species in @Model) {

        <div class="elements">
            <span><a href="/Species/Show/@Species.SpeciesID">@Species.Name</a></span>
            <span><a href="/Species/Delete/@Species.SpeciesID">Delete</a></span>
        </div>
    }
}